html {
  background: #F5F5F5;
}
html .header {
  width: 10rem;
  height: 1.6rem;
  flex-shrink: 0;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.4267rem;
  box-sizing: border-box;
}
html .header img {
  width: 0.74667rem;
  height: 0.74667rem;
  flex-shrink: 0;
}
html .header p {
  color: #181719;
  text-align: center;
  font-size: 0.45333rem;
  font-style: normal;
  font-weight: 600;
  line-height: 0.45333rem;
}
html .container {
  margin-top: 0.43rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
html .container .mdfWalletName input {
  width: 10rem;
  height: 1.33333rem;
  flex-shrink: 0;
  background: #FFF;
  color: #181719;
  font-size: 0.42667rem;
  font-weight: 600;
  line-height: 0.42667rem;
  padding: 0.43rem;
  box-sizing: border-box;
  border: none;
}
html .container .confirmBtn {
  width: 9.14667rem;
  height: 1.33333rem;
  flex-shrink: 0;
  border-radius: 0.32rem;
  background: #FFD12C;
  border: none;
  margin-top: 2.13rem;
}
html .footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 2.24rem;
  background-color: #fff;
  padding: 0 0.59rem;
  box-sizing: border-box;
}
