html {
  background: #090B0E;
}
html .LanguageBox {
  color: #FFF;
  font-size: 0.42667rem;
  font-style: normal;
  font-weight: 400;
  line-height: 0.42667rem;
  margin-top: 1.07rem;
  margin-right: 0.53rem;
  text-align: right;
}
html .content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 3.4rem;
}
html .content .logoBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}
html .content .logoBox img {
  width: 1.97333rem;
  height: 1.97333rem;
  flex-shrink: 0;
}
html .content .logoBox p {
  color: #FFF;
  font-size: 0.42667rem;
  font-style: normal;
  font-weight: 600;
  line-height: 0.42667rem;
  margin-top: 0.32rem;
}
html .content .slogan {
  width: 6.8rem;
  margin-top: 3.73rem;
}
html .content .slogan p {
  color: #FFD12C;
  text-align: center;
  font-family: PingFang SC;
  font-size: 0.69333rem;
  font-style: normal;
  font-weight: 600;
  line-height: 0.85333rem;
}
html .content .enterBtn {
  width: 2.56rem;
  height: 1.17333rem;
  flex-shrink: 0;
  border-radius: 0.37333rem;
  background: #FFD12C;
  border: none;
  margin-top: 1.07rem;
  color: #090B0E;
  font-size: 0.42667rem;
  font-style: normal;
  font-weight: 400;
  line-height: 0.42667rem;
}
html .addWalletPop,
html .languagePop {
  width: 10rem;
  height: 9.17333rem;
  flex-shrink: 0;
  position: fixed;
  bottom: -32rem;
  transition: bottom 1s ease;
  background-color: #FFF;
  border-top-left-radius: 0.8rem;
  border-top-right-radius: 0.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.4rem;
  box-sizing: border-box;
  z-index: 10;
}
html .addWalletPop .topCell,
html .languagePop .topCell {
  width: 2.26667rem;
  height: 0.21333rem;
  flex-shrink: 0;
  border-radius: 0.26667rem;
  background: #E1E1E1;
}
html .addWalletPop .btnBox,
html .languagePop .btnBox {
  display: flex;
  justify-content: space-between;
  margin-top: 1.07rem;
  width: 100%;
}
html .addWalletPop .btnBox .directTransfer,
html .languagePop .btnBox .directTransfer {
  width: 4.48rem;
  height: 2.88rem;
  flex-shrink: 0;
  border-radius: 0.37333rem;
  background: #E4F6FD;
  padding: 0.43rem;
  box-sizing: border-box;
}
html .addWalletPop .btnBox .directTransfer .directTransferTop,
html .languagePop .btnBox .directTransfer .directTransferTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
html .addWalletPop .btnBox .directTransfer .directTransferTop p,
html .languagePop .btnBox .directTransfer .directTransferTop p {
  color: #181719;
  font-size: 0.37333rem;
  font-style: normal;
  font-weight: 400;
  line-height: 0.37333rem;
}
html .addWalletPop .btnBox .directTransfer .directTransferTop img,
html .languagePop .btnBox .directTransfer .directTransferTop img {
  width: 0.69333rem;
  height: 0.69333rem;
  flex-shrink: 0;
}
html .addWalletPop .btnBox .directTransfer > p,
html .languagePop .btnBox .directTransfer > p {
  color: rgba(24, 23, 25, 0.4);
  font-size: 0.37333rem;
  font-style: normal;
  font-weight: 400;
  line-height: 0.37333rem;
  margin-top: 0.99rem;
}
html .addWalletPop .btnBox .scancode,
html .languagePop .btnBox .scancode {
  background: #E8DDF7;
}
html .languagePop .titleBox {
  display: flex;
  align-items: center;
  margin-top: 1.87rem;
  width: 100%;
}
html .languagePop .titleBox img {
  width: 0.53333rem;
  height: 0.53333rem;
  flex-shrink: 0;
}
html .languagePop .titleBox p {
  color: #181719;
  font-size: 0.53333rem;
  font-style: normal;
  font-weight: 600;
  line-height: 0.53333rem;
  margin-left: 0.21rem;
}
html .languagePop .laguageBtnBox {
  margin-top: 0.85rem;
}
html .languagePop .laguageBtnBox .laguageCell {
  width: 9.14667rem;
  height: 1.33333rem;
  flex-shrink: 0;
  border-radius: 0.37333rem;
  background: #F1F1F1;
  display: flex;
  align-items: center;
  padding: 0.43rem;
  box-sizing: border-box;
  justify-content: space-between;
}
html .languagePop .laguageBtnBox .laguageCell input {
  width: 0.58667rem;
  height: 0.58667rem;
  flex-shrink: 0;
}
html .languagePop .laguageBtnBox .laguageCell p {
  color: #181719;
  font-size: 0.42667rem;
  font-style: normal;
  font-weight: 400;
  line-height: 0.42667rem;
}
html .languagePop .laguageBtnBox .laguageCell:nth-child(2) {
  margin-top: 0.43rem;
}
html .bodyMask {
  width: 10rem;
  height: 21.65333rem;
  flex-shrink: 0;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 9;
  bottom: -32rem;
}
