header {
	height: 1.88rem;
	padding: 0 0.18rem;
}

header a {
	padding: 0.5rem 0.1rem;
	display: block;
	width: 1.02rem;
	color: #333333;

}

header a img {
	width: 1.02rem;
	display: block;
	margin: 0 auto;
}

header h1 {
	font-size: 0.68rem;
	font-weight: 400;
	color: rgba(51, 51, 51, 1);
	text-align: center;
	line-height: 1.88rem;
	margin-left: 0rem;
}
