html {
  background: #F5F5F5;
}
html .header {
  width: 10rem;
  height: 1.6rem;
  flex-shrink: 0;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.4267rem;
  box-sizing: border-box;
}
html .header img {
  width: 0.74667rem;
  height: 0.74667rem;
  flex-shrink: 0;
}
html .header p {
  color: #181719;
  text-align: center;
  font-size: 0.45333rem;
  font-style: normal;
  font-weight: 600;
  line-height: 0.45333rem;
}
html .container .setting,
html .container .help,
html .container .about {
  width: 10rem;
  height: 1.33333rem;
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
  padding: 0 0.43rem;
  box-sizing: border-box;
  align-items: center;
  margin-top: 0.43rem;
  background-color: #fff;
}
html .container .setting p,
html .container .help p,
html .container .about p {
  color: #181719;
  font-size: 0.42667rem;
  font-style: normal;
  font-weight: 600;
  line-height: 0.42667rem;
}
html .container .setting img,
html .container .help img,
html .container .about img {
  width: 0.64rem;
  height: 0.64rem;
  flex-shrink: 0;
}
html .container .setting .laguageBox,
html .container .help .laguageBox,
html .container .about .laguageBox {
  display: flex;
  align-items: center;
}
html .container .setting .laguageBox p,
html .container .help .laguageBox p,
html .container .about .laguageBox p {
  color: rgba(24, 23, 25, 0.4);
  text-align: right;
  font-family: PingFang SC;
  font-size: 0.37333rem;
  font-style: normal;
  font-weight: 600;
  line-height: 0.37333rem;
}
html .container .help,
html .container .about {
  margin-top: 0.21rem;
}
html .footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 2.24rem;
  background-color: #fff;
  padding: 0 0.59rem;
  box-sizing: border-box;
}
